<template>
    <div v-if="tableData.length > 0">
      <table class="table ">
          <thead>
              <tr>
                  <th>
                      <label class="hide-in-print">
                          Show
                          <select v-model="divisor" @change="index=0">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                          </select>
                          Entries
                      </label>
                  </th>
                  <th>
                      <input type="text" v-model="searchKey" class="hide-in-print form-control" placeholder="Search">
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td colspan="2">
                    <slot name="pagertable" :propdata="searchQuery"></slot>
                  </td>
              </tr>
          </tbody>
          
          <tfoot class="hide-in-print">
              <tr>
                  <td class="pagination pull-left">Showing {{this.start + 1}} &rarr; <span v-if="this.limit < this.dataLength">{{this.limit}}</span><span v-else>{{this.dataLength}}</span> of {{this.dataLength}} Entries</td>
                  <td>
                        <ul class="pagination">
                          <li v-if="index > 0" class="btn btn-primary" @click="prev" >&laquo;</li>
                          <li v-else class="btn btn-primary" disabled >&laquo;</li>
                          <li v-if="index > 3">...</li>
                          <li v-for="(v,i) in filteredPagerData" @click="setActive(i)" :key="i" :class="{'active': index==v}" class="btn btn-primary">{{v+1}}</li>
                          <!-- <li v-for="(v,i) in pagerData" @click="setActive(i)" :key="i"  :class="{'active':index==i, 'hidden': (i > 9)}" class="btn btn-primary">{{i+1}}</li> -->
                          <li v-if="pagerData.length > 3 && (index+1)  != pagerData.length">...</li>
                          <li v-if="index < pagerData.length -1" class="btn btn-primary" @click="next">&raquo;</li>
                          <li v-else class="btn btn-primary" disabled>&raquo;</li>
                      </ul>
                  </td>
              </tr>
          </tfoot>
      </table>
        
    </div>
</template>

<script>
export default {
  name: 'TablePager',
  props: {
    tableData: {
      type: Array,
      required: true
    },
    searchFunction: {
      type: Function,
      default: (function(){var x = function(x=2,y=3){ x>y?true:false; return this.filteredData};return x})()
    }
  },
  data () {
    return {
      msg: 'Hello Vue!',
      index: 0,
      divisor: 10,
      paginationDisplayLength: 0,
      searchKey: '',
      hasFilterFunction: false,
      searchedData: []
    }
  },
  mounted () {
  },

  methods: {
    setActive(index) {
        this.index = index
    },
    next () {
      this.index ++
    },
    prev () {
      if (this.index < 1) {
        return
      }
      this.index --
    },
    searchFilteredData (input) {
      this.searchedData = this.searchFunction(this.filteredData,input)
    },
  },
  created () {
  },
  computed: {
    searchQuery () {
      return this.searchFunction(this.filteredData,this.searchKey)
    },
    filteredData () {
      var dataset = []
      if (this.pagerData.length-1 == this.index && this.remainder > 0){
        var lastIndex = (this.quotient * this.divisor)
        for(var i = 0; i < this.remainder; i++){
          dataset.push(this.tableData[lastIndex+i])
        }
      }else{
        for(var j = this.start; j < this.limit; j++){
          dataset.push(this.tableData[j])
        }
      }
      return dataset
    },
    dataLength () {
      return this.tableData.length
    },
    quotient () {
      return parseInt(this.dataLength/this.divisor)
    },
    pagerData () {
      var pager = []
      for (var i = 0; i < this.quotient; i++){
        pager.push(i)
      }
      if(this.remainder > 0){
        pager.push(this.quotient)
      }
      return pager
    },
    remainder () {
      return this.dataLength % this.divisor 
    },
    limit () {
      return parseInt((this.index + 1) * this.divisor)
    },
    start () {
      return parseInt(this.limit - this.divisor)
    },
    filteredPagerData () {
      var data =[]
      for(var i = 0; i < this.pagerData.length ; i++) {
        if((i>3 && this.index < i) || i < this.index-3) {
          // nothing here
        }else {
          data.push(this.pagerData[i])
        }
      }
      return data
    }
  }
}

</script>

<style scoped>
    .hidden {
      visibility: hidden;
    }
    .pagination {
        float: right;
    }
    .pagination li {
        list-style-type: none;
        display: inline;
    }
    .pagination li.active {
        background: teal;
        color: white!important
    }

    .pagination {
      display: inline-block;
    }

    .pagination li {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    .pagination li:hover:not(.active) {background-color: #ddd;}

    .pagination li {
      border-radius: 5px;
    }

    .pagination li.active {
      border-radius: 5px;
    }
    .pagination li {
      border: 1px solid #ddd; /* Gray */
    }

    .pagination li:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .pagination li:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .pagination li {
      margin: 0 2px; /* 0 is for top and bottom. Feel free to change it */
    }

    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }

    select {
      /* width: 100%; */
      padding: 2px 15px;
      border: none;
      border-radius: 4px;
      background-color: #f1f1f1;
    }

  </style>
